.link {
  display: inline-block;
  margin-right: .5rem;
  text-decoration: underline;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.link.active {
  font-weight: bold;
  text-decoration: none;
}
